<!-- <button class="btn btn-warning" (click)="generateDummyId(2)">Add to Cart</button> -->
<!-- <div class="bg-secondaryy c">
    <div class="d">
<h4 class="mt-3 ml-3 text-light p0"><i><b>Welcome to ShoppingBee!</b></i></h4>

<button type="button" class="btn btn-secondary btn-text-light ml-auto b" routerLink="/home"><i class="fa fa-home" style="font-size:22px"></i>&nbsp;&nbsp;Home</button>
<button type="button" class="btn btn-secondary btn-text-light n" routerLink="/profile"><i class="fa fa-user-plus" aria-hidden="true" style="font-size:22px"></i>&nbsp;&nbsp;Profile</button>
<button type="button" class="btn btn-secondary btn-text-light n" routerLink="/orderhistory">&nbsp;&nbsp;Order History</button>
<button type="button" class="btn btn-secondary btn-danger text-light p" >Log Out</button>

</div>
</div> -->

<app-nav-bar [counter]="count"></app-nav-bar>


<body>
<div  class="bg-light">
    <h2 style="text-align:center;padding:13px;">My Cart</h2>
  </div>

<div class="container mb-4 la">
<div class="row">
    <div class="col-12">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col"> </th>
                        <th scope="col">Product</th>
                        <th scope="col">Quantity</th>
                        
                        <th scope="col" >Price</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let p of finalCart; let i = index">
                      
                        <td><img src={{p.imageURLs}} class="uy"> </td>
                        <td>{{p.productName}}</td>
                    
                       <td> <button type="button"class="btn btn-outline-dark" (click)="decreaseproduct(p.productId)"><b><b>-</b></b></button>
                        &nbsp;<span>{{p.quantity}}</span>
                        &nbsp;&nbsp;<button type="button"class="btn btn-outline-dark" (click)="increaseproduct(p.productId)"><b><b>+</b></b></button></td>
                        <td>{{p.price * p.quantity}}</td>
                        <td class="text-right"><button class="btn btn-sm btn-danger" (click)="deleteproduct(p.productId)"><i class="fa fa-trash"></i> </button> </td>
                    </tr>
                  
                    <tr>
                        <td></td>
                        <td></td>
                        
                        <td class="text-center" ><strong>Total</strong></td>
                        <td ><strong>{{total}}</strong></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col mb-2">
        <div class="row">
                <div class="col-md-6">
                        <button class="btn btn-block btn-dark text-uppercase" routerLink="">Continue Shopping</button>
                    </div>
            <div class="col-md-6 text-right">
                <button class="btn btn-block btn-success text-uppercase" *ngIf="finalCart.length>0"(click)="checkOut()">Checkout</button>
            </div>
        </div>
    </div>
</div>
</div>
</body>