<app-nav-bar>
</app-nav-bar>

<div id="carouselExampleSlidesOnly" class="carousel slide" height="400px" data-ride="carousel" style="background-color: rgb(208, 223, 245) ; transition : (.2s ease-in-out left)">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-50" src="https://images.pexels.com/photos/607812/pexels-photo-607812.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" style= " height: 400px; margin-left: 400px;"alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-50" src="https://images.pexels.com/photos/404280/pexels-photo-404280.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" style= " height: 500px; margin-left: 400px;" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-50" src="https://images.pexels.com/photos/788946/pexels-photo-788946.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" style= " height: 500px; margin-left: 400px;" alt="Third slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-50" src="https://images.pexels.com/photos/47261/pexels-photo-47261.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"  style= " height: 500px; margin-left: 400px;" alt="Fourth slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-50" src="https://images.pexels.com/photos/1042143/pexels-photo-1042143.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"  style= " height: 500px; margin-left: 400px;" alt="Fifth slide">
      </div>
    </div>
  </div>
  <div class=" d-flex o" >
        
    
    <div class="container-fluid">
        <div class="row" *ngFor = "let mobile of mobiles;let i=index">
            <div class="col-12 mt-3">
                <div class="card">
                    <div class="card-horizontal">
                        <div class="img-square-wrapper">
                            <img class="" src={{mobile.imageURLs}} style="height: 300px; width: 200px;" alt="Card image cap">
                        </div>
                        <div class="card-body row" style="margin-left: 100px; ">
                            <div class="col-5">
                                <h2 class="card-title" style="color: brown; font-size:x-large;">{{mobile.productName}}<br> <small style="color:black;">({{mobile.productDescription}})</small> </h2>
                                <br>
                                <p class="card-text" style="font-size: large;"><strong style="color: brown;">Price :</strong>Rs. {{productPrice[i] }}</p>
                                <br><br>
                                <button class="btn btn-danger" style="float: right;" (click)="addToCart(mobile)">Add To Cart</button>
                            </div>
                            <div class="col-4">
                                <br>
                                <strong>Specifications : </strong>
                                <ul style="margin :auto" >
                                    <li><strong style="color: coral;">Ram  :</strong> {{mobile.variants[0].ram}}</li>
                                    <li><strong style="color: coral;">Colour   :</strong>{{mobile.variants[0].colour}}</li>
                                    <li><strong style="color: coral;">SimSlots : </strong>{{mobile.variants[0].simSlots}}</li>
                                    <li><strong style="color: coral;">FrontCamera :</strong>{{mobile.variants[0].frontCamera}}</li>
                                    <li><strong style="color: coral;">BackCamera :</strong>{{mobile.variants[0].backCamera}}</li>
                                    <li><strong style="color: coral;">BatterySize :</strong> {{mobile.variants[0].batterySize}}</li>
                                    <li><strong style="color: coral;">WarrantyDetails :</strong>{{mobile.variants[0].warrantyDetails}}</li>
                                    
                                </ul>
                            </div>
                            <div class="col-3">
                              <br>
                              <strong><p style="align-content: center; color: brown;" >Merchants-:</p></strong>              
                              <table  style="border-radius: 3px;">
                            
                             <tr>
                               <td style="color:coral;">Name</td>
                               <td style="color:coral;">Price</td>
                              <!-- <td style="color:coral;">Stock Available</td> -->
                              </tr>
                              <tr style="box-sizing: content-box;">
                                <td (click)="getPrice(mobile.productId,mobile.merchants[0].price,i)" style ="color: blue;">{{mobile.merchants[0].merchantName}}</td> <td>{{mobile.merchants[0].price}}</td>
                                </tr>
                                <tr>
                                  <td (click)="getPrice(mobile.productId,mobile.merchants[1].price,i)" style ="color: blue;"> {{mobile.merchants[1].merchantName}}</td> <td>{{mobile.merchants[1].price}}</td>
                                </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>